@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html {
  width: 100%;
  margin: auto;
}

body {
  font-family: Roboto;
  background-color: #000000;
}

.logo {
  width:540px;
  height: auto;
  margin: auto;
  padding: 150px 0px 0px 0px;
}

.login-header {
  font-family: Roboto;
  padding: 50px 0px 0px 0px;
  font-size: small;
  color: white;
  margin: auto;
  text-align: center;
}

#login-form {
  margin-top: 50px;
  font-family: Roboto;
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field {
  margin: center;
  width: 10%;
  font-family: Roboto;
  border: none;
  font-size: large;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: none;
  padding: 7px 380px 7px 7px;
}

#login-form-submit {
  font-family: Roboto;
  font-size: large;
  width: 15%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #1f1f1f;
  cursor: pointer;
  outline: none;
}